<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Sequência de Fibonacci</title>
    <link rel="stylesheet" href="../css/fibonacci.css">
    <script defer src="../js/fibonacci.js"></script>
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Gerador de Sequência de Fibonacci</h1>
            <p>Insira o número de termos para gerar a sequência de Fibonacci.</p>
            <input type="number" id="inputNumber" placeholder="Digite um número" min="1" />
            <button id="generateButton">Gerar Sequência</button>
            <div id="result" class="result hidden"></div>
        </div>
        <button class="btn-back" onclick="window.location.href='../index.html'">Voltar para a Página Principal</button>
    </div>
    <img src="../imagens/unifor-logo-horizontal.svg" alt="Logo da Universidade" class="logo-universidade">
</body>
</html>
