<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MDC - Máximo Divisor Comum</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <h1>MDC - Máximo Divisor Comum</h1>
</header>

<form action="#" th:action="@{/mdc}" method="post">
    <label for="inputNumber1">Número 1:</label>
    <input type="number" id="inputNumber1" name="numero1" required>

    <label for="inputNumber2">Número 2:</label>
    <input type="number" id="inputNumber2" name="numero2" required>

    <button type="submit" id="calculateButton">Calcular MDC</button>
</form>

<div id="result" th:if="${mdc != null}">
    O MDC de <span th:text="${numero1}"></span> e <span th:text="${numero2}"></span> é: <span th:text="${mdc}"></span>.
</div>

<footer>
    <img src="../static/unifor-logo-horizontal.svg" alt="Logo da Universidade" class="logo-universidade">
    <a href="/" class="btn-voltar">Voltar para a Página Inicial</a>
</footer>
</body>
</html>
