<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Máximo Divisor Comum</title>
    <link rel="stylesheet" href="../css/mdc.css">
    <script defer src="../js/mdc.js"></script>
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Máximo Divisor Comum</h1>
            <p>Insira dois números para calcular o Máximo Divisor Comum (MDC).</p>
            <input type="number" id="inputNumber1" placeholder="Digite o primeiro número" min="1" />
            <input type="number" id="inputNumber2" placeholder="Digite o segundo número" min="1" />
            <button id="calculateButton">Calcular MDC</button>
            <div id="result" class="result hidden"></div>
        </div>
        <button class="btn-back" onclick="window.location.href='../index.html'">Voltar para a Página Principal</button>
    </div>
    <img src="../imagens/unifor-logo-horizontal.svg" alt="Logo da Universidade" class="logo-universidade">
</body>
</html>
