<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificador de Números Primos</title>
    <link rel="stylesheet" href="../css/primo.css">
    <script defer src="../js/primo.js"></script>
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Verificador de Números Primos</h1>
            <p>Insira um número para verificar se ele é primo:</p>
            <input type="number" id="inputNumber" placeholder="Ex: 7" min="1" />
            <button id="verificarButton">Verificar Primo</button>
            <div id="resultado" class="resultado hidden"></div>
            <button class="btn-back" onclick="window.location.href='../index.html'">Voltar para a Página Principal</button>
        </div>
    </div>
    <img src="../imagens/unifor-logo-horizontal.svg" alt="Logo da Universidade" class="logo-universidade">
</body>
</html>
