<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algoritmo Quicksort</title>
    <link rel="stylesheet" href="../css/quicksort.css">
    <script defer src="../js/quicksort.js"></script>
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Algoritmo Quicksort</h1>
            <p>Insira os números separados por vírgula para ordenar:</p>
            <input type="text" id="inputNumbers" placeholder="Exemplo: 5,3,8,6,2" />
            <button id="ordenarButton">Ordenar</button>
            <div id="resultado" class="resultado hidden"></div>
            <button class="btn-back" onclick="window.location.href='../index.html'">Voltar para a Página Principal</button>
        </div>
    </div>
    <img src="../imagens/unifor-logo-horizontal.svg" alt="Logo da Universidade" class="logo-universidade">
</body>
</html>
