<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quicksort</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <h1>Quicksort</h1>
</header>

<form action="#" th:action="@{/quicksort}" method="post">
    <label for="inputNumbers">Números (separados por vírgula):</label>
    <input type="text" id="inputNumbers" name="numeros" placeholder="Ex: 5,3,8,1" required>

    <button type="submit" id="ordenarButton">Ordenar Números</button>
</form>

<div id="resultado" th:if="${sortedNumbers != null}">
    Números ordenados: <span th:text="${sortedNumbers}"></span>.
</div>

<footer>
    <img src="../static/unifor-logo-horizontal.svg" alt="Logo da Universidade" class="logo-universidade">
    <a href="/" class="btn-voltar">Voltar para a Página Inicial</a>
</footer>
</body>
</html>